@import "~bootstrap/scss/bootstrap";


textarea{
   resize: both;
}

.body{
background:gray;
}

.editor{
   &-wrapper{
      display:flex;
      // justify-content:space-between;
      padding:50px;
      // flex-wrap:wrap;
      width:100%;
      height:100%;
      position: relative;
      // gap:20px;
      & div:first-child{
         display: flex;
         justify-content: space-between;
      }
   }
   &_code{
      // min-width: 400px;
      height: 100%;
      width: calc(100% - 20px);
   }
}

iframe{
   background:white;
   // margin:10px;
   // width:50%;
   flex:1;
   min-width: 300px;
}

.react-resizable-handle {
  display: block;
  background-color: #37414b;
  background-repeat: no-repeat;
  background-position: 50%;
}
 
.react-resizable-handle-s {
  height: 10px;
  width: 100%;
  cursor: row-resize;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
}
 
.react-resizable-handle-e {
  width: 10px;
  min-width: 10px;
  height: 100%;
  cursor: col-resize;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}

.preview-wrapper{
   width: 100%;
   height: 100%;
   position: relative;
   .react-draggable-transparent-selection &::after{
      content:' ';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background:transparent;
   }
}

